In [2]:
import pandas as pd

In [3]:
import requests

In [4]:
from bs4 import BeautifulSoup

In [5]:
header={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/120.0.0.0 Safari/537.36"}
web=requests.get('https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1',headers=header).text

In [6]:
soup=BeautifulSoup(web,'lxml')

In [7]:
soup.find_all('h1')[0].text.strip()

'Top Companies in\n\t\t\t\t \n\t\t\t\t\tINDIA'

In [8]:
soup.find_all('h2')[0].text.strip()

'Companies in India'

In [9]:
for i in soup.find_all('h2'):
    print(i.text.strip())

Companies in India
TCS
Accenture
Wipro
Cognizant
Capgemini
HDFC Bank
Infosys
ICICI Bank
HCLTech
Tech Mahindra
Genpact
Teleperformance
Jio
Axis Bank
Concentrix Corporation
Amazon
iEnergizer
Reliance Retail
LTIMindtree
IBM
Popular Collections by Industries
Popular Collections by Cities
Popular Collections by Roles

In [10]:
len(soup.find_all('div',class_='rating_text'))

20

In [11]:
len(soup.find_all('span',class_='companyCardWrapper__ActionCount'))

120

In [12]:
company=soup.find_all('div',class_='companyCardWrapper')

In [13]:
len(company)

20

In [14]:
name=[]
rating=[]
nreviews=[]
sl=[]
salary=[]
job=[]
benefit=[]

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('div', class_='rating_text').text.strip())
    nreviews.append(i.find('span', class_='companyCardWrapper__companyRatingCount').text.strip())
    sl.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())
    salary.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[1].text.strip())
    job.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[3].text.strip())
    benefit.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[4].text.strip())
    
df={'Name':name,'Rating': rating, 'Total reviews': nreviews,'Sevice & Location': sl,'Salary': salary,
    'Jobs': job,'Benefits': benefit}
df1=pd.DataFrame(df)
df1

,Name,Rating,Total reviews,Sevice & Location,Salary,Jobs,Benefits
0,TCS,3.3,(1.1L),IT Services & Consulting | Bangalore / Bengalu...,9.8L,2.1k,10.6k
1,Accenture,3.7,(71.3k),IT Services & Consulting | Bangalore / Bengalu...,6.5L,40.6k,6.7k
2,Wipro,3.6,(63.5k),IT Services & Consulting | Hyderabad / Secunde...,4.8L,6.9k,4.6k
3,Cognizant,3.6,(59.8k),IT Services & Consulting | Hyderabad / Secunde...,6L,706,5.5k
4,Capgemini,3.7,(51.4k),IT Services & Consulting | Bangalore / Bengalu...,4.8L,1.9k,3.7k
5,HDFC Bank,3.8,(50.6k),Banking | Mumbai +1823 other locations,1.5L,245,3.2k
6,Infosys,3.5,(47.3k),IT Services & Consulting | Bangalore / Bengalu...,5.2L,2.6k,4.8k
7,ICICI Bank,4.0,(45.1k),Banking | Mumbai +1437 other locations,1.5L,22,3.7k
8,HCLTech,3.4,(44.4k),IT Services & Consulting | Chennai +228 other ...,3.8L,220,3.8k
9,Tech Mahindra,3.4,(42.4k),IT Services & Consulting | Hyderabad / Secunde...,2.8L,470,3.4k
10,Genpact,3.6,(40.9k),IT Services & Consulting | Hyderabad / Secunde...,2.3L,1.4k,3.5k
11,Teleperformance,3.8,(36.7k),BPO | Mumbai +255 other locations,96.2k,1.4k,1.8k
12,Jio,4.4,(32.4k),Telecom | Mumbai +1903 other locations,62.1k,3,2.5k
13,Axis Bank,3.6,(32.3k),Banking | Mumbai +1502 other locations,1.1L,185,2.1k
14,Concentrix Corporation,3.6,(31.5k),BPO | Bangalore / Bengaluru +176 other locations,1.3L,71,3.1k
15,Amazon,3.9,(30.7k),Internet | Bangalore / Bengaluru +519 other lo...,1.5L,1.6k,4.1k
16,iEnergizer,4.6,(27.1k),BPO | Noida +51 other locations,24.1k,61,430
17,Reliance Retail,3.9,(26.9k),Retail | Mumbai +1155 other locations,75.1k,157,1.8k
18,LTIMindtree,3.6,(25.8k),IT Services & Consulting | Bangalore / Bengalu...,1.9L,493,777
19,IBM,3.9,(25.3k),IT Services & Consulting | Bangalore / Bengalu...,2.1L,2.1k,2.6k

In [15]:
final=pd.DataFrame()
for j in range(1,10):
    url='https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}'.format(j)
    header={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/120.0.0.0 Safari/537.36"}
    web=requests.get(url,headers=header).text
    soup=BeautifulSoup(web,'lxml')
    company=soup.find_all('div',class_='companyCardWrapper')
    name=[]
    rating=[]
    nreviews=[]
    sl=[]
    salary=[]
    job=[]
    benefit=[]
    
    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('div', class_='rating_text').text.strip())
        nreviews.append(i.find('span', class_='companyCardWrapper__companyRatingCount').text.strip())
        sl.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())
        salary.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[1].text.strip())
        job.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[3].text.strip())
        benefit.append(i.find_all('span',class_='companyCardWrapper__ActionCount')[4].text.strip())
        
    df={'Name':name,'Rating': rating, 'Total reviews': nreviews,'Sevice & Location': sl,'Salary': salary,
        'Jobs': job,'Benefits': benefit}
    df1=pd.DataFrame(df)
    final = pd.concat([final, df1], ignore_index=True)

In [16]:
final

,Name,Rating,Total reviews,Sevice & Location,Salary,Jobs,Benefits
0,TCS,3.3,(1.1L),IT Services & Consulting | Bangalore / Bengalu...,9.8L,2.1k,10.6k
1,Accenture,3.7,(71.3k),IT Services & Consulting | Bangalore / Bengalu...,6.5L,40.6k,6.7k
2,Wipro,3.6,(63.5k),IT Services & Consulting | Hyderabad / Secunde...,4.8L,6.9k,4.6k
3,Cognizant,3.6,(59.8k),IT Services & Consulting | Hyderabad / Secunde...,6L,706,5.5k
4,Capgemini,3.7,(51.4k),IT Services & Consulting | Bangalore / Bengalu...,4.8L,1.9k,3.7k
...,...,...,...,...,...,...,...
175,Macleods Pharmaceuticals,3.7,(4.1k),Pharma | Mumbai +134 other locations,15.6k,6,334
176,Kogta Financial India Limited,4.7,(4.1k),NBFC | Jaipur +259 other locations,1.8k,113,31
177,Aakash Educational Services,3.2,(4.1k),Education & Training | New Delhi +244 other lo...,13.8k,64,212
178,Jubilant Foods Works,3.7,(4.1k),Hospitality | New Delhi +263 other locations,9.3k,199,180
179,LG Electronics,3.9,(4.1k),Consumer Electronics & Appliances | Pune +298 ...,11k,--,399

In [18]:
final.to_csv('companies_data_hiring.csv')